[Desktop Entry]
Encoding=UTF-8
Name=Lien vers M4105C - Technologies pour la production de logiciels
Type=Link
URL=http://nsal.im/iut/techno/#/
Icon=text-html
